# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out
.turbo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Test
coverage
.nyc_output

# Misc
*.tsbuildinfo
.cache
